<div class="row isu-header">
  <div class="col-sm-4">
    <div class="float-right logo">
      <strong>ISU</strong>Corp
    </div>
  </div>
  <div class="col-sm-8 slogan">
    <div class="row">
      <div class="col">
        World Class
      </div>
    </div>
    <div class="row">
      <div class="col">
        Software Development
      </div>
    </div>
  </div>
</div>
