<div class="isu-header">
  <div class="container">
    <div class="row">
      <div class="logo">
        <strong>ISU</strong>Corp
      </div>
      <div class="slogan">
        <div>
          <div>
            World Class
          </div>
          <div>
            Software Development
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
