$secondary-color: #5c775c;
$invalid: #ada397;

.section-body {
  md-input-container {
    width: 100%;

    input {
      border: rgba(225, 225, 225, 1) solid 1px;
      height: 3rem;
      margin-top: -1rem;
      background-color: white;
    }

    &.md-input-focused, &.md-input-invalid {
      input, input.ng-invalid {
        border-width: 1px;
      }
    }

    label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
      padding-left: 1rem;
    }
  }

  md-select {
    border: rgba(225, 225, 225, 1) solid 1px;
    height: 3rem;
    margin-top: .25rem;
  }

  md-datepicker.birthdate-picker {
    width: 100%;

    .md-datepicker-button.md-button.md-icon-button {
      margin: 0;
    }

    .md-datepicker-input-container {
      width: 70%;
      border: rgba(225, 225, 225, 1) solid 1px;

      input {
        width: 100%;
        height: 3rem;
        margin-top: .25rem;
        margin-left: 1rem;
      }
    }
  }

  .col-md-3 {
    padding-left: 10px;
    padding-right: 0px;
  }

  md-autocomplete-wrap {
    box-shadow: none;
    border: rgba(225, 225, 225, 1) solid 1px;
    margin-top: .25rem;
    height: 3rem;
  }

  .contact-data-col {
    display: flex;
    md-select, md-autocomplete {
      width: 100%;
    }
    i {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: .75rem;
      margin-left: .75rem;
      color: $secondary-color;
    }
  }

  .editor {
    .ql-container {
      min-height: 15rem;
    }
  }

  .actions-container {
    background-color: transparent;
    .action-button {
      height: 100%;
      width: 100%;
    }
  }

  .md-input-has-value, .md-input-focused {
    label {
      margin-bottom: .75rem;
    }
  }

  md-datepicker.reservation-date-datepicker {
    .md-datepicker-button.md-button.md-icon-button {
      margin: 0;
    }

    .md-datepicker-input-container {
      border: rgba(225, 225, 225, 1) solid 1px;
      background-color: white;

      input {
        width: 12rem;
        height: 3rem;
        margin-top: .25rem;
        margin-left: 1rem;
      }
    }
  }

  .reservations-table {
    margin-top: 2rem;
    border-collapse: separate;
    border-spacing: 0 1em;
    tr {
      background-color: rgb(239, 239, 240);
      td {
        border: none;
        vertical-align: middle;
      }
    }
  }

  .add-favorites-button {
    display: flex;
    cursor: pointer;

    .legend {
      margin-top: auto;
      margin-bottom: auto;
      font-family: Verdana, Geneva, sans-serif;
    }

    i {
      padding-left: .25em;
      color: $invalid;
    }

    &.favorite {
      .legend {
        color: $invalid;
      }

      i {
        color: red;
      }
    }
  }
}

button.btn {
  border-radius: 0;
}

select {
  border-radius: 0;
}

.secondary-text {
  color: $secondary-color;
}

.rating-options {
  .rating-option {
    color: $secondary-color;
    cursor: pointer;

    &.active {
      color: rgba(255, 230, 127, 1);
    }
  }
}

.date-time-picker {
  padding-right: 2rem;

  md-datepicker, md-time-picker {
    margin-top: auto;
    margin-bottom: auto;
  }

  md-time-picker.reservation-time-picker {
    margin-left: .5rem;
    height: 3rem;
    margin-top: 0;
    button {
      display: none;
    }

    input {
      height: 3.4rem;
      margin-top: -1.1rem;
    }
  }
}

.pagination-elipsis {
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-control {
  border-radius: 0;
}