<section-header>
  <div class="row">
    <div class="col-md-3">
      <strong class="section-title">
        Reservations List
      </strong>
    </div>
    <div class="col-md-5 description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor accumsan quam at venenatis. Vestibulum semper pellentesque magna in venenatis. Nam semper scelerisque nulla, ut interdum velit faucibus et.
    </div>
    <div class="col-md-4">
      <a href="#!/new_reservation">
        <button type="button" class="btn btn-secondary float-right">
          CREATE RESERVATION
        </button>
      </a>
    </div>
  </div>
</section-header>
<div class="section-body">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sorting-select-column">
        <i class='fas fa-sort-amount-down'></i>
        <select class="form-control" id="sortSelector" ng-model="selectedSorting" ng-change="sortingSelected()">
          <option value="" disabled selected>
            Sort by
          </option>
          <option ng-repeat="sorting in sortings" ng-value="sorting">
            {{ sorting.description }}
          </option>
        </select>
      </div>
    </div>
    <table class="table reservations-table">
      <tbody>
        <tr ng-repeat="reservation in reservations.items">
          <td>
            <div>
              <strong>
                {{ reservation.contact.name }}
              </strong>
            </div>
            <small class="secondary-text">
              {{ formatDate(reservation.date) }}
            </small>
          </td>
          <td>
            <div>
              <strong>
                Ranking
              </strong>
            </div>
            <rating
              ng-model="reservation.ranking"
              ng-change="rankingChange(reservation.id, rating)"
            ></rating>
          </td>
          <td>
            <div
              class="float-right add-favorites-button"
              ng-class="{ favorite: reservation.favorite }"
              ng-click="onFavoriteClick(reservation)">
              <strong class="legend">
                Add Favorites
              </strong>
              <i class="far fa-heart fa-2x"></i>
            </div>
          </td>
          <td>
            <button class="btn btn-secondary float-right" ng-click="onEditClick(reservation)">
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <navigation resource="reservations" ng-if="reservations" on-page-click="onPageClick(page)"/>
  </div>
</div>
